<div class="field">
  <%= bulma_tag(size: :normal) { "Normal" } %>
</div>
<div class="field">
  <%= bulma_tag(size: :medium) { "Medium" } %>
</div>
<div class="field">
  <%= bulma_tag(size: :large) { "Large" } %>
</div>
