<div class="field">
  <%= render(Bulma::TagComponent.new(size: :normal)) { "Normal" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(size: :medium)) { "Medium" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(size: :large)) { "Large" } %>
</div>
