<div class="buttons">
  <%= render(Bulma::ButtonComponent.new(size: :small)) { "Small" } %>
  <%= render(Bulma::ButtonComponent.new(size: :normal)) { "Normal" } %>
  <%= render(Bulma::ButtonComponent.new(size: :medium)) { "Medium" } %>
  <%= render(Bulma::ButtonComponent.new(size: :large)) { "Large" } %>
</div>
