<div class="buttons">
  <%= bulma_button(size: :small) { "Small" } %>
  <%= bulma_button(size: :normal) { "Normal" } %>
  <%= bulma_button(size: :medium) { "Medium" } %>
  <%= bulma_button(size: :large) { "Large" } %>
</div>
